{
  "plugins": ["@domrf/code-style-react-ts"],
  "extends": ["./node_modules/@domrf/eslint-plugin-code-style-react-ts"],
  "rules": {
    "local-rules/import-order": ["error", { "tsconfigPath": "./tsconfig.json" }]
  }
}
