@import '../../domrf-ui/assets';

.table-page {
  @include page-adaptive;
  @include font-medium-14;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &_header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 24px;

    h2 {
      line-height: 44px;
      margin-bottom: 16px;
    }
  }

  &_buttons-container {
    display: flex;
    gap: 16px;
  }

  &_buttons-wrapper {
    display: flex;
    justify-content: space-between;

    &_action-buttons {
      display: flex;
      gap: 16px;
      margin-right: 5px;
    }
  }

  &_nav-wrapper {
    display: flex;
    gap: 16px;
  }

  &_buttons {
    display: flex;
    gap: 24px;
  }

  &_title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
}
