// main colors
$grey-1514: #252628;
$green-223: #82bf00;
$white-001: #ffffff;

// additional colors
$green-289: #72a716;
$green-333: #699b12;
$green-1-07: #f3f9e6;
$green-123: #d9f0ab;
$green-137: #c4e88b;

$yellow-104: #fffae0;
$yellow-114: #FDF0C1;
$yellow-134: #FADC89;
$yellow-214: #eea20f;

$red-241: #de4a2a;
$red-117: #ffe8e3;
$red-109: #fff2f0;
$red-147: #ffc9b5;
$red-182: #FFAB99;

$grey-134: #dedede;
$grey-106: #f8f8f8;
$grey-109: #f4f4f4;
$grey-114: #efefef;
$grey-124: #e6e6e6;
$grey-868: #494c4b;
$grey-517: #6d6d6d;
$grey-166: #c8c8cb;
$grey-284: #999999;

$blue-322: #5B90E0;
$blue-106: #F3F8FF;
