@mixin statusBackgroundColorModificators() {
  &_orange {
    background-color: $yellow-214;
  }

  &_green {
    background-color: $green-223;
  }

  &_light-green {
    background-color: $green-1-07;
  }

  &_red {
    background-color: $red-241;
  }

  &_light-red {
    background-color: $red-109;
  }

  &_yellow {
    // TODO: Нет такого цвета в domrf-styles
    background-color: #fad248;
  }

  &_light_yellow {
    background-color: $yellow-104;
  }

  &_grey {
    background-color: $grey-134;
  }

  &_grey-284 {
    background-color: $grey-284;
  }

  &_light-grey {
    background-color: $grey-106;
  }

  &_blue {
    // TODO: Нет такого цвета в domrf-styles
    background-color: #9ac2ff;
  }

  &_light-blue {
    background-color: $blue-106;
  }

  &_white {
    background-color: $white-001;
  }

  &_black {
    background-color: $grey-1514;
  }
}